// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
 li {
  list-style-type: none;
 }
.container {
  border: 1px solid grey;
  background-color: #F5F5F5;
  padding: 5px 5px;
}
